body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh; /* Ensure full viewport height */
  margin: 0; /* Remove default body margin */
}


.contain {
display: flex;
background-color: hsl(0, 0%, 100%);
width: 726px;
height: 540px;
border-radius: 17px;
overflow: hidden;
}

.info {
display: flex;
flex-direction: column;
justify-content: center;
width: 275px;
padding: 45px;
}

.product-img {
width: 360px;
height: 540px;
}

.product-img img {
object-fit: cover;
height: 100%;
}

.product-type {
font-family: Montserrat;
color: hsl(228, 12%, 48%);
margin-bottom: 25px;
}

.product-name {
font-family: Fraunces;
font-weight: 700;
color: hsl(212, 21%, 14%);
font-size: 38px;
line-height: 38px;
padding-bottom: 0;
margin-bottom: 15px;
}

.product-desc {
font-family: Montserrat;
color: hsl(228, 12%, 48%);
line-height: 28px;
margin-bottom: 15px;
}

.prices {
display: flex;
align-items: center;
margin-bottom: 32px;
}

.discounted-price {
font-family: Fraunces;
font-size: 38px;
color: hsl(158, 36%, 37%);
margin-right: 19px;
}

.original-price {
font-family: Montserrat;
color: hsl(228, 12%, 48%);
}

.add-to-cart {
display: flex;
justify-content: center;
}

.add-to-cart button {
display: flex;
justify-content: center;
align-items: center;
background-color: hsl(158, 36%, 37%);
color: hsl(0, 0%, 100%);
font-family: Montserrat;
font-weight: 700;
font-size: 16px;
padding: 20px 70px;
border-style: none;
border-radius: 9px;
cursor: pointer;
}

.add-to-cart button:active {
background-color: hsl(159, 36%, 18%);
}

.add-to-cart button img {
width: 18px;
margin-right: 13px;
}

.attribution { font-size: 11px; text-align: center; position:absolute; bottom: 10px;}
.attribution a { color: hsl(228, 45%, 44%); }